services:
  # 1. ZOOKEEPER
  # O "Gerente" do Kafka. Ele mantém o estado do cluster, sabe quem é o líder
  # e quem está vivo. Sem ele, o Kafka tradicional não sobe.
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # 2. KAFKA BROKER
  # O coração do sistema. É aqui que os tópicos e mensagens ficam.
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # A PARTE IMPORTANTE (Listeners):
      # Define como os clientes se conectam. Temos duas vias:
      # INTERNAL: Para os containers (seu Worker e API rodando no Docker).
      # EXTERNAL: Para você acessar do localhost (sua máquina).
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  # 3. POSTGRESQL
  # O banco de dados relacional.
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: pixdb # Cria o banco automaticamente no boot
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 4. KAFDROP
  # Interface visual para ver o Kafka. Essencial para não ficar "cego".
  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:29092" # Conecta pela rede interna do Docker

volumes:
  postgres_data: